*{
  margin: 0;
  padding: 10;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: scroll;
}

.footer {
  bottom:0px;
  width: 100%;
  display: flex;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: #333;
}

.inner_footer {
  display: block;
  margin: 0 auto;
  width: 1100px;
  
}

.inner_footer .logo_container {
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.inner_footer .logo_container img {
  width: 175px;
  height: auto;
}

.inner_footer .footer_third{
  width: calc(21.6666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner_footer .footer_third:last-child{
  margin-right: 0;
}

.inner_footer .footer_third h1{
  font-family: monospace;
  font-size: 22px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner_footer .footer_third a{
  font-family: monospace;
  font-size: 18px;
  color: white;
  display: block;
  font-weight: 200;
  width: 100%;
  margin-bottom: 5px;
}

.inner_footer .footer_third li2{
 display: inline-block;
 font-size: 20px;
}

.inner_footer .footer_third img {
  width: 50%;
}

@media(max-width: 600px){
  .footer .inner_footer{
    width: 90%;
    height: 10vw;
  }

  .inner_footer .logo_container,
  .inner_footer .footer_third{
    width: 100%;
    margin-bottom: 30px;
  }
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}
ul.topnav li a.active {background-color: #04AA6D;}
ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.philcontainer {
  left:30%;
  height:30vw;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

/* Container for the search box*/
.flex-containerSearch {
  display: flex;
  justify-content: center;

}

.flex-containerSearch > div {
  color: rgb(0, 0, 0);
  margin: 10px;
  text-align: center;
  font-size: 1.5vw;
}

.flex-containerSearch2 {
  display: flex;
  justify-content: center;
  background-color: #333;

}

.flex-containerSearch2 > div {
  color: rgb(255, 255, 255);
  margin: 10px;
  text-align: center;
  font-size: 1.5vw;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button1 {border-radius: 12px;}

.button2 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button12 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button12:hover {
  background-color: #4CAF50;
  color: white;
}

.button12 {border-radius: 12px;}


input[type=text]{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 12px;
   border: 1px solid #000000;
   color: #a0d18c;
   width: 60%;
   height: 60px;
   padding-left: 10px;
  }
  
input[type=text]:focus {
   outline: none;
   border: 1px solid #a0d18c;
   color: #2d9fd9;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}
