{% extends "layout.html" %}
{%block landing_head%}
<style>
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("static/images/landing.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

</style>
  
{%endblock landing_head%}

{%block landing%}


<div class="hero-image">
    <div class="hero-text">
      <h1 style="font-size:5vw">Stock Analyzer</h1>
      <p style="font-size:1.5vw">Know the True Worth Before Buying</p>
      <button class = "button button1" onclick="window.location.href='{{url_for('login')}}'">Log In</button><br>
      <button class = "button button1" onclick="window.location.href='{{url_for('register')}}'">Sign Up</button><br>
    </div>
  </div>
<br>
  
<div class = "philcontainer">
  <h1 style="font-size:2vw; font-family:verdana">
    Fundemental Philosophy
  </h1> 
  <p style="font-weight: bold; font-size:1.5vw"> "Price is what you pay, Value is what you Get"</p>
  <p style="font-size:1vw; font-family:verdana"> As Warren Buffet says, one of the most important things to understand about investing is that
    there is a distinct difference between price and the actual value of stock, and that not every stock price will always reflect it's intrinsic value.
    In fact, the divergence between the price and value is essentially what allows for taking advantage of undervalued stocks and outperforming the average return of the market.
  </p>

</div>
  
{%endblock landing%}



